asgiref==3.6.0
crispy-bootstrap4==2022.1
Django==4.1.7
django-crispy-forms==2.0
mysql-connector-python==8.0.32
mysqlclient==2.1.1
Pillow==9.5.0
protobuf==3.20.3
psycopg2-binary==2.9.6
sqlparse==0.4.3
